*{margin: 0; padding: 0; box-sizing: border-box; }
*::before,*::after{box-sizing: border-box; }
ul,ol{list-style: none; }
a{text-decoration: none; color: inherit;}
body{font-size: 3.7vw; }
h1,h2,h3{font-weight: lighter;}
.icon{width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }

section>h2:first-child{font-size: 4.6vw; border-left: 2px solid #D43C33; padding-left: 1.8vw; margin: 19px 0 18px; line-height: 1; }

.homeTop{width:100%;position: fixed;top: 0;z-index: 1}
.topbar{background:#D43C33; padding: 4.5vw 3.8vw; display: flex; align-items: center; justify-content: space-between; }
.topbar .logo{width: 36vw; }
.topbar .downloadApp{font-size: 1.1em; line-height: 7.5vw; border: 1px solid rgba(255,255,255,0.5); border-radius: 4.25vw; display: block; color: white;  padding: 0 .5em }


.sitenav{background: white;}
.sitenav > ol{display: flex; text-align:center; border-bottom: 1px solid rgba(220,220,220,0.8); font-size: 1.1em; }
.sitenav >ol >li{flex: 1; }
.sitenav >ol >li>span{padding: 3px 5px 0; line-height: 9.5vw; display: inline-block; }
.sitenav >ol >li>span.active{color: #D43C33; border-bottom: 2px solid #D43C33; }


.tabContent{margin-top: 28vw;}
.tabContent .tab1{margin-top: 33vw}
.tabContent >li{display: none;}
.tabContent >li.active{display: block;}

.playlists{}
.playlists > ul{display: flex; flex-wrap: wrap; justify-content: space-between; }
.playlists > ul img{width: 100%;}
.playlists > ul span{position: absolute;top:0;right: 5px;color: white;font-size: 10px;}
.playlists > ul > li{width: calc(33.333333% - 0.5vw); font-size: 0.95em; padding-bottom: 10px;position: relative; }
.playlists > ul > li > a > p{padding: 0 1.5vw; display: -webkit-box; line-height: 4vw; height: 8vw; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow: hidden; text-overflow: ellipsis; }


.lastestMusic{}
.lastestMusic > ol{padding-left: 2.6vw; }
.lastestMusic > ol > p:first-child{text-align: center;}
.lastestMusic > ol > li{border-bottom: 1px solid #E2E2E2; padding: 1.4vw 0; position: relative;}
.lastestMusic > ol > li > a > h3{width:87.8vw;font-size: 4.53vw; margin-bottom: 2px;display: -webkit-box;-webkit-line-clamp:1; -webkit-box-orient:vertical; overflow: hidden; text-overflow: ellipsis; }
.lastestMusic > ol > li > a > p{font-size: 3.2vw; color: #888; }
.lastestMusic > ol > li > a > span{display: inline-block; width: 5.8vw; height: 5.8vw; background: url(/NetEaseMusic/image/index.png); no-repeat; background-size: 44vw 26vw; background-position: -6.5vw 0; position: absolute; right: 5px; top: 50%; transform: translate(0,-50%); }

section.art{text-align: center; padding-top: 17.6vw; padding-bottom: 5vw; background: transparent url(/NetEaseMusic/image/recommand_bg_2x.png) no-repeat center 0; }
section.art .logosvg{width: 61.7vw; }
section.art .openApp{margin: 3vw auto 1vw; display: block; max-width: 81vw; padding: 1vw 0; color: #D43C33; border: 1px solid; font-size: 4.3vw; line-height: 8vw; border-radius: 5.35vw; }
section.art .copyright{font-size: 3.2vw; transform: scale(.75); color: #888; }

.hotTop{background:url(/NetEaseMusic/image/hot_music_bg_2x.jpg) no-repeat; background-size: cover; padding: 6.5vw ; border: 0; width: 100%}
.hotTop .hotTopPc{width: 38vw; height: 18vw; background: url(/NetEaseMusic/image/index.png); background-size: 44vw 26.2vw; background-position: -5.5vw -8vw; }
.hotTop .hotTime{padding: 2vw 0; font-size: 12px; color: white; }
.hotMusic > ol > p:first-child{text-align: center;}
.hotMusic > ol > li{border-bottom: 1px solid #E2E2E2; padding: 1.4vw 0; position: relative;}
.hotMusic > ol > li > a > h2{float: left; font-size:1.2em; margin: 1.8vw 2.6vw ; color: #999; }
.hotMusic > ol > li:nth-child(-n+3) > a > h2{color: red;}
.hotMusic > ol > li > a > div > h3{width:87.8vw;font-size: 4.53vw; margin-bottom: 2px;display: -webkit-box;-webkit-line-clamp:1; -webkit-box-orient:vertical; overflow: hidden; text-overflow: ellipsis; }
.hotMusic > ol > li > a > div > p{font-size: 3.2vw; color: #888; }
.hotMusic > ol > li > a > div > span{display: inline-block; width: 5.8vw; height: 5.9vw; background: url(/NetEaseMusic/image/index.png); no-repeat; background-size: 166px 97px; background-position: -24px 0; position: absolute; right: 5px; top: 50%; transform: translate(0,-50%); }

.tab2 footer{height: 15vw;line-height: 15vw;text-align: center;color: #999}




.searchTop{border-bottom: 1px solid #F0F0F0; }
#search{width: 90vw; padding: 0 5vw; border-radius: 10vw; background: #ebecec; position: relative; margin: 32vw auto 3.5vw; }
#search > .icon-sousuo{position: absolute; left: 2vw; top: 2vw; color: #BEBEBE; }
#search > .icon-guanbi{position: absolute; right: 2vw; top: 2vw; color: #6c6c6c; }
.hidden{display: none; }
#search > #searchSong{width: 80vw; background: #ebecec; border: 0; padding: 2vw; outline:none; color: #333; height: 30px; line-height: 18px; }
.searchVal{color: #507daf; font-size: 4vw; line-height: 13vw; height: 13vw;border-bottom: 1px solid #BEBEBE; padding-left: 2.5vw; }


.searchMid > .hotSearch{width: 100%; margin-left: 2vw; }
.searchMid > .hotSearch > h5{color:#BEBEBE; margin: 2vw 0; }
.searchMid > .hotSearch > .hotCon{word-wrap: break-word; }
.searchMid > .hotSearch > .hotCon span{border: 1px solid #BEBEBE; border-radius: 5vw; padding: 1.5vw 3vw; margin-right: 1.5vw; line-height: 11vw; }
.searchMid > .searchResult{height: 50vw; }
.searchResult > .resultCon{padding-left: 3vw; }
.searchResult > .resultCon > svg{float: left; margin-top: 4vw; color: #BEBEBE; font-size: 4.3vw; }
.resultCon div{width: 100%; margin-left: 6vw; border-bottom: 1px solid #F0F0F0; }
.resultCon div span{width: 100%; font-size: 4vw;line-height: 12vw; height: 12vw }
.historySearch{margin-top: 3vw; }
.historySearch > ol > li{padding-top: 3.5vw; }
.historySearch > ol > li > svg{font-size: 5vw; float: left; margin-left: 2vw; }
.historySearch > ol > li div{border-bottom: 1px solid #F0F0F0; margin-left: 10%; padding-bottom:3.5vw; position: relative; width: 90%; height: 8vw;line-height: 5vw}
.historySearch > ol > li div svg{position: absolute; right: 3vw; top: 1vw; font-size: 4.5vw; }
