*{margin: 0; padding: 0; box-sizing: border-box; }
*::before,*::after{box-sizing: border-box; }
ul,ol{list-style: none; }
a{text-decoration: none; color: inherit;}
.icon{width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
h1,h2,h3{font-weight: normal;}

#listloading{text-align: center;padding-top: 50vh;}
.disnone{display: none;}
.page footer{background: white;text-align: center;height: 12vw;position: fixed;bottom: 0;z-index: 2;width: 100%}
.page footer a{background: #d33a31; border:1px solid #d33a31; color: white; line-height: 11vw; height: 11vw; padding:2.2vw 28vw; border-radius: 6vw; }
.page footer a svg{font-size: 7.5vw; vertical-align: middle; }


.topInfo{width: 100%; position: relative; padding: 30px 10px 30px 15px; overflow: hidden; }
.bg-blur{ height:300px; float: left; width: 100%; background-size: cover; /*    -webkit-filter: blur(15px); -moz-filter: blur(15px); -o-filter: blur(15px); -ms-filter: blur(15px);*/ filter: blur(15px); position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; }
.listInfo{display: flex; }
.listInfo div{flex: 1 1 auto; }
.listImg{width: 25vw; position: relative; }
.listImg > img{width: 100%; }
.listImg > #span1{position: absolute; left: 0; top:3vw; background: rgba(217,48,48,.8); color: white; font-size: 10px; border-top-right-radius: 3vw; border-bottom-right-radius: 3vw; padding: 0.5vw 2vw; }
.listImg > #span2{position: absolute; right: 1vw; top: 1vw; color: #fff; font-size: 9px; }


.listText{z-index: 2; width: 50%; color: #fff; margin-left: 5vw; word-wrap:break-word; line-height: 5vw; }
.listText h2{font-weight: lighter;font-size: 5vw;line-height: 6vw;}
.listText .auInfo >a{display: block; line-height: 10vw; height: 10vw; margin-top: 6vw; }
.listText .auInfo > a > img{border-radius: 50%; width: 8vw; vertical-align:middle; }
.listText .auInfo > a > span{color: rgb(186,186,186);font-size: 14px;}


.midInfo{padding: 10px 10px 0 15px; color: #666; font-size: 14px;}
.midInfo .label span{margin-right:3px;font-size:12px;border: 1px solid #ccc;padding: 1px 8px;border-radius:10px;}
.midInfo .intro{line-height: 5vw; position: relative; margin: 10px 0; }
.midInfo .intro p{padding-right: 4vw;}
.hidden{height: 15vw; overflow: hidden; }
.midInfo .intro .icon{position: absolute; right: 0; bottom: 0; display: none; }
.midInfo .intro .icon.icon-show{display: block; }


.playList > h3{height: 23px; line-height: 23px; padding: 0 10px; font-size: 12px; color: #666; background-color: #eeeff0; }
.playList > ol > li{border-bottom: 1px solid #E2E2E2; padding: 1.4vw 0; position: relative;}
.playList > ol > li > a > h2{float: left; font-size:1.2em;color: #999; line-height: 10vw;padding: 0 3vw;}
.playList > ol > li > a > div > h3{width:83vw;font-size: 4.53vw; margin-bottom: 2px;display: -webkit-box;-webkit-line-clamp:1; -webkit-box-orient:vertical; overflow: hidden; text-overflow: ellipsis; }
.playList > ol > li > a > div > p{font-size: 3.2vw; color: #888; }
.playList > ol > li > a > div > span{display: inline-block; width: 5.8vw; height: 5.9vw; background: url(/NetEaseMusic/image/index.png); no-repeat; background-size: 166px 97px; background-position: -24px 0; position: absolute; right: 5px; top: 50%; transform: translate(0,-50%); }

