*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,*::after{
	box-sizing: border-box;
}
@keyframes circle{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.page{
	display: flex;
	flex-direction: column;
	height: 100vh;  
	background:transparent url(../image/beijing.jpg) no-repeat center;
	background-size: cover;
}

.disc-container{
	position: relative;
}
.disc-container .pointer{
	width: 24vw;
	position: absolute;
	left: 50%;
	transform: translate(-10%,0);
}
.disc-container .disc{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 17vw;
}
.disc-container .ring{
	width: 72vw;
}
.disc-container .light{
	width: 72vw;
	position: absolute;
	animation: circle 20s infinite linear;
}
.disc-container .cover{
	width: 45vw;
	position: absolute;
	border-radius: 50%;
	animation: circle 20s infinite linear;
}
.song-description{

}

.page > .links{

}